*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"Segoe UI", Arial, sans-serif;
  background:linear-gradient(135deg,#0f172a,#1e293b);

  display:flex;
  justify-content:center;
  align-items:center;

  min-height:100vh;
}

/* CONTENEDOR PRINCIPAL */

.container{
  width:100%;
  max-width:1100px;

  background:white;
  padding:40px 50px;

  border-radius:15px;
  box-shadow:0 15px 40px rgba(0,0,0,0.35);

  text-align:center;
}

/* TITULOS */

h1{
  color:#0f172a;
  margin-bottom:30px;
}

h2{
  color:#1e293b;
  margin-bottom:20px;
}

h3{
  color:#1e293b;
}

/* FORMULARIOS */

.forms{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
  margin-bottom:40px;
}

form{
  background:#f8fafc;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  width:260px;
}

/* INPUTS Y SELECT */

input,
select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #94a3b8;
  font-size:14px;
  background:white;
  color:#0f172a;
  transition:0.2s;
}

input::placeholder{
  color:#64748b;
}

input:focus,
select:focus{
  outline:none;
  border-color:#2563eb;
  box-shadow:0 0 5px rgba(37,99,235,0.4);
}

select{
  cursor:pointer;
  color:#0f172a;
}

/* BOTONES */

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:6px;
  background:#2563eb;
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background:#1d4ed8;
}

button:disabled{
  background:#94a3b8;
  cursor:not-allowed;
}

/* GRID DE AUTOS */

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:25px;
}

/* TARJETAS */

.card{
  background:#e2e8f0;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.15);
  transition:transform 0.2s;
}

.card:hover{
  transform:translateY(-5px);
}

.card h3{
  color:#0f172a;
}

.card p{
  color:#334155;
}